body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#loginpage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8080802b;
}

.login-div {
  width: 35%;
  background: white;
  padding: 50px;
}

.form-control {
  border-radius: 0 !important;
}

.ant-btn-primary {
  width: 100%;
  height: 36px;
  border-radius: 0;
}

.mainlogo {
  margin-bottom: 10%;
}

.logomain {
  width: 40%;
}

.ant-tabs-nav {
  position: absolute !important;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.textleft {
  text-align: left;
}

.textright {
  text-align: right;
}

.userdiv {
  background: #61b3fa94;
  color: #2587b9;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userfirst {
  margin: 0 auto;
}

.dropdownitems ul {
  padding-left: 0;
}

.dropdownuser {
  position: relative;
  display: inline-block;
}

.dropdownitems {
  position: absolute;
  z-index: 5;
  background: white;
  box-shadow: 6px 0px 20px 3px grey;
  padding: 20px;
  right: 10px;
}

.dropdownitems li {
  list-style: none;
  text-align: center;
  padding-top: 5px;
}

.logoutbtn {
  border-radius: 0 !important;
}

.headerrow {
  margin-top: 10px;
  margin-bottom: 30px;
}

.userheading {
  text-align: left;
}

.input-area {
  position: relative;
}

label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: all .8s ease;
  pointer-events: none;
  font-size: 18px;
}

input:focus+label,
input:valid+label,
textarea:focus+label,
textarea:valid+label {
  top: 0;
  padding: 5px;
  font-size: 15px;
  z-index: 1;
  background: white;
}

.form-control:focus {
  color: #212529;
  border-color: black;
  outline: 0;
  box-shadow: none !important;
}

.continue {
  margin-top: 20px !important;
  padding: 10px 50px 10px 50px !important;
  border-radius: 0 !important;
}

.outputlabel {
  display: inline-block;
  float: left;
}

.outputdata {
  display: inline-block;
  float: right;
}

.outputdivs {
  padding: 5px;
  font-size: 18px;
  height: 50px;
}
.graphparent{
  border: 1px solid #80808091;
}

@media only screen and (max-width: 768px) {
  .login-div {
    width: 90%;
  }
}